.Home_top button {
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 150px;
  }
  
  .Home_top div p {
    font-size: 18px;
  }
  
  .right_img img {
    margin-left: 200px;
  }
  
  .explore_icons {
    width: 50px;
    height: 50px;
    border: 1px solid green;
    border-radius: 50%;
    font-size: 25px;
  }
  
  .third_page {
    width: 100%;
    height: 500px;
    background-color: rgb(255, 231, 209);
  }
  
  .Home_third_btn {
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 150px;
  }
  
  .small_box {
    width: 250px;
    height: 285px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgb(0 0 0 / 0.1);
  }
  
  .fifth_boxes {
    width: 250px;
    height: 300px;
    border: none;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .fifth_boxes span {
    color: black;
  }
  .fifth_boxes .box_para {
    font-size: 15px;
  }
  
  .Home_top {
    position: relative;
  }
  
  .round_orenge {
    position: absolute;
    background-color: #ffc691;
    width: 80px;
    height: 80px;
    z-index: -1;
    border-radius: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
  }
  .round_pink {
    position: absolute;
    background-color: #ff989b;
    width: 150px;
    height: 150px;
    z-index: -1;
    border-radius: 50%;
    margin-left: -17rem;
    margin-top: 6rem;
  }
  .round_yellow {
    position: absolute;
    background-color: #f9d50c;
    width: 50px;
    height: 50px;
    z-index: -1;
    border-radius: 50%;
    top: 20rem;
    left: 27rem;
  }  
  .round_green1 {
    position: absolute;
    left: 35rem;
    top: 4rem;
    height: 70px;
    background-color: rgb(188, 245, 91);
    border-radius: 50%;
    z-index: -1;
  }
  .round_lightOrange {
    position: absolute;
    left: 50rem;
    top: -10rem;
    height: 655px;
    background-color: rgb(255, 226, 148);
    border-radius: 50%;
    z-index: -1;
  }
  .light_orange2 {
    position: absolute;
    left: 12rem;
    top: 66rem;
    height: 80px;
    background-color: rgb(245, 222, 91);
    border-radius: 50%;
    z-index: -1;
  }
  .light_blue2 {
    position: absolute;
    left: 68rem;
    top: 95rem;
    height: 170px;
    background-color: #add9ff;
    border-radius: 50%;
    z-index: -1;
    width: 187px;
  }
  .light_orange3 {
    position: absolute;
    left: 5rem;
    top: 123rem;
    width: 40px;
    height: 40px;
    background-color: rgb(245, 222, 91);
    border-radius: 50%;
    z-index: -1;
  }
  .light_green1 {
    position: absolute;
    left: -2rem;
    top: 136rem;
    width: 90px;
    height: 90px;
    background-color: #c4fee6;
    border-radius: 50%;
    z-index: -1;
  }
  .light_orange4 {
    position: absolute;
    left: 3rem;
    top: 167rem;
    width: 90px;
    height: 90px;
    background-color: #fee6c4;
    border-radius: 50%;
    z-index: -1;
  }
  
  .light_voilet {
    position: absolute;
    right: 4rem;
    top: 182rem;
    width: 90px;
    height: 90px;
    background-color: #c9c1fc;
    border-radius: 50%;
    z-index: -1;
  }
  
  .b1 {
    position: absolute;
    font-size: 40px;
    transform: rotate(1.1turn);
    left: 23rem;
  }
  .b2 {
    position: absolute;
    font-size: 40px;
    transform: rotate(-0.1turn);
    left: 18rem;
    top: 24rem;
  }
  
  .b3 {
    position: absolute;
    font-size: 40px;
    transform: rotate(-0.1turn);
    left: 45rem;
    top: 21rem;
  }
  
  .b4 {
    position: absolute;
    font-size: 40px;
    transform: rotate(-0.1turn);
    left: 65rem;
    top: 115rem;
    z-index: -1;
  }
  .b5 {
    position: absolute;
    font-size: 40px;
    transform: rotate(-0.1turn);
    left: 3rem;
    top: 108rem;
  }
  .b6 {
    position: absolute;
    font-size: 40px;
    transform: rotate(-0.1turn);
    left: 85rem;
    top: 175rem;
  }
  
  .b7 {
    position: absolute;
    font-size: 40px;
    transform: rotate(-0.1turn);
    left: 68rem;
    top: 163rem;
  }
  
  .b8 {
    position: absolute;
    font-size: 40px;
    transform: rotate(-0.1turn);
    left: 55rem;
    top: 133rem;
  }
  
  .b9 {
    position: absolute;
    font-size: 40px;
    transform: rotate(-0.1turn);
    left: 8rem;
    top: 158rem;
  }

  @media (max-width: 1024px) {
    .left_content {
      margin-top: 100px;
    }
  }
  
  @media (max-width: 768px) {
    .left_content {
      margin-top: 50px;
    }
  }
  
  @media (max-width: 425px) {
    .left_content {
      margin-top: 20px;
    }
    .left_content h2 {
      font-size: 16px;
    }
    .left_content .lf_para {
      font-size: 14px;
    }
    .right_img {
      margin-left: -120px;
    }
  }
  
  @media (max-width: 375px) {
    .left_content {
      margin-top: 20px;
    }
    .left_content h2 {
      font-size: 14px;
    }
    .left_content .lf_para {
      font-size: 12px;
    }
    .right_img {
      margin-left: -120px;
    }
    .left_content button {
      height: 40px;
    }
  }
  @media (max-width: 1024px) {
    .explore_content {
      font-size: 16px;
      width: 80%; /* Adjust width as needed */
    }
  }
  
  @media (max-width: 768px) {
    .explore_content {
      font-size: 14px;
      width: 90%; /* Adjust width as needed */
    }
  }
  
  @media (max-width: 425px) {
    .explore_content {
      font-size: 12px;
      width: 100%; /* Adjust width as needed */
    }
  }
  
  @media (max-width: 375px) {
    .explore_content {
      font-size: 11px;
      width: 100%; /* Adjust width as needed */
    }
    .explore_content .see_more {
      font-size: 8px;
    }
    .explore_pr {
      margin-left: 137px !important;
    }
    .home_card {
      position: relative;
      top: 10px;
      margin-top: 150px;
    }
  }